<script src="http://autobahn.s3.amazonaws.com/js/autobahn.min.js"></script>
<script>
    var params = {
        'skipSubprotocolCheck': true
    }
    var conn = new ab.Session(
            'ws://localhost:6300', function () {
                // connected

                console.log('Connected!');

                conn.subscribe('checked-players', function (topic, data) {
                    console.log('checked players "' + topic + '" : ' + data.title);
                });

                conn.subscribe('news', function (topic, data) {
                    // This is where you would add the new article to the DOM (beyond the scope of this tutorial)
                    console.log('NEWS NEWS NEWS!!!!! "' + topic + '" : ' + data.title);
                });
            }, function () {
                // disconnected

                console.warn('WebSocket connection closed');
            }, params
    );
</script>